@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap');

.Contact-Container{
    background-color: #272727;
    color: #FAB162;
    padding-bottom: 20px;
}

.Contact-Header{
    padding-top: 15px;
    font-size: 50px;
    text-align: center;
    color: #FAB162;
    font-family: 'Audiowide', sans-serif;;
}

.Contact-Icons{
    padding-top: 15px;
    color: aliceblue;  
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    width: 100%;

}

.Icon-Firstcolumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin-left: 20px;
}

.WhatsApp{
    display: flex;
    flex-direction: row;
    
}

.Wa-Icon{
    font-size: 50px;
    /* animation-name: Wa;
    animation-duration: 3s; */
}

/* .Wa-Icon:hover{
    color: #25D366;
    transition: 0.3s ease-in-out;
} */

.WhatsApp-Content{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
}

.WhatsApp-Content h5{
    color: #FAB162;
    padding: 2px;
    font-size: 20px;
}

.Phone{
    display: flex;
    flex-direction: row;
    
}

.Ph-Icon{
    font-size: 50px;
}

.Phone-Content{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
}

.Phone-Content h5{
    color: #FAB162;
    padding: 2px;
    font-size: 20px;
}



/* .Li-Icon:hover{
    color: #0A66C2;
    transition: 0.3s ease-in-out;
} */

.Icon-Secondcolumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}

.Li-Icon{
    font-size: 50px;
}

.LinkedIn{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.LinkedIn-Content{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
}

.LinkedIn-Content h5{
    color: #FAB162;
    padding: 2px;
    font-size: 20px;
}

.Gmail{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.Gmail-Icon{
    font-size: 50px;
}

.Gmail-Content{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
}

.Gmail-Content h5{
    color: #FAB162;
    padding: 2px;
    font-size: 20px;
}


/* @keyframes Wa {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
} */



/* For Extra Small Devices like Phones */
@media only screen and (max-width: 575px) {    
    .Contact-Header{
        padding-top: 10px;
        font-size: 20px;
        text-align: center;
        color: #FAB162;
        font-family: 'Audiowide', sans-serif;;
    }   
    .Wa-Icon{
        font-size: 25px;
    }
    .Gmail-Icon{
        font-size: 25px;
    }
    .Li-Icon{
        font-size: 25px;
    }
    .Ph-Icon{
        font-size: 25px;
    }
    .LinkedIn-Content h5{
        color: #FAB162;
        padding: 2px;
        font-size: 12px;
    }
    .LinkedIn-Content p{
        font-size: 10px;
    }

    .Gmail-Content h5{
        color: #FAB162;
        padding: 2px;
        font-size: 12px;
    }
    .Gmail-Content p{
        font-size: 10px;
    }

    .WhatsApp-Content h5{
        color: #FAB162;
        padding: 2px;
        font-size: 12px;
    }

    .WhatsApp-Content p{
        font-size: 10px;
    }

    .Phone-Content h5{
        color: #FAB162;
        padding: 2px;
        font-size: 12px;
    }
    .Phone-Content p{
        font-size: 10px;
    }
}

    

/* For Small Devices like Tablets */
@media only screen and (min-width: 575px) and (max-width: 767px) {
    .Contact-Header{
        padding-top: 15px;
        font-size: 40px;
        text-align: center;
        color: #FAB162;
        font-family: 'Audiowide', sans-serif;
    }
    .Wa-Icon{
        font-size: 35px;
    }
    .Gmail-Icon{
        font-size: 35px;
    }
    .Li-Icon{
        font-size: 35px;
    }
    .Ph-Icon{
        font-size: 35px;
    }
    .LinkedIn-Content h5{
        color: #FAB162;
        padding: 2px;
        font-size: 15px;
    }
    .LinkedIn-Content p{
        font-size: 12px;
    }

    .Gmail-Content h5{
        color: #FAB162;
        padding: 2px;
        font-size: 15px;
    }
    .Gmail-Content p{
        font-size: 12px;
    }

    .WhatsApp-Content h5{
        color: #FAB162;
        padding: 2px;
        font-size: 15px;
    }

    .WhatsApp-Content p{
        font-size: 12px;
    }

    .Phone-Content h5{
        color: #FAB162;
        padding: 2px;
        font-size: 15px;
    }
    .Phone-Content p{
        font-size: 12px;
    }
}

/* For Medium Devices Like Laptops and Desktops */
@media only screen and (min-width: 767px) and (max-width: 991px) {
    
}

/* For Large Devices Desktops */
@media only screen and (min-width: 992px) and (max-width: 1199px){
    
}

/* For Extra Large Devices  */
@media only screen and (min-width: 1200px) {
    
}
  