@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap');


.Project-Container{
    background-color: #272727;
}

.Project-Header{
    padding-top: 20px;
    color: #FAB162;
    font-family: 'Audiowide', sans-serif;
    font-size: 50px;
    text-align: center;
}

.Projects{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    align-items: center;
    padding-top: 20px;
}

.Project-1{
    display: flex;
    flex-direction: row;
    /* background-color: blue; */
    padding: 20px;
    border-radius: 20px;
}

.Project-1 img{
    height: 200px;
    width: 300px;
    border-radius: 10%;
}

.Project-1 h1{
    color: #FAB162;
    margin-left: 20px;
    font-size: 30px;
    
}

.Project-1 a{
    text-decoration: none;
}

.Project-1:hover{
    border: solid;
    border-color: #FAB162;
    border-width: 1px;
    box-shadow: 10px 10px black;
    transition: ease-in-out;
}

.Project-1-Desc{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.Project-1 p{
    margin-left: 20px;
    padding-top: 10px;
    font-size: 20px;
}